<a href="https://colab.research.google.com/github/HyunsukLee/amba_option2/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment (Use the file "Purchase_Data.csv" )

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [2]:
#Write your code here
import pandas as pd
df_data = pd.read_csv("/content/sample_data/Purchase_Data.csv")

totalPrice = sum(df_data.price)
cntPrice = len(df_data.price)

avg_price  = totalPrice / cntPrice
max_price = max(df_data.price)

print("mean : ", df_data['price'].mean() )
print("avg_price : ", avg_price)
print("max_price : ", max_price)

mean :  3.1920522110741363
avg_price :  3.1920522110741363
max_price :  6.01

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [4]:
#Write you code here
print("mean method 한번만 호출 : ",df_data['price'].mean())

df_data

avg_price, avg_num_items = df_data[['price', 'num_item']].mean()

print("avg_price : " , avg_price)
print("avg_num_items : " , avg_num_items)

mean method 한번만 호출 :  3.1920522110741363
avg_price :  3.1920522110741363
avg_num_items :  1.2983091787439613

Create a column called "total", which is the product of the price and num_item columns.

In [6]:
#Write your code here
df_data['total'] = df_data['price'] * df_data['num_item']
df_data

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price,total
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0,2.0
2,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0,2.0
3,2.020000e+11,7/15/15 12:16,G816,7070891,70401,1.0,6.0,6.0
4,2.020000e+11,7/15/15 12:16,G816,7090363,70401,1.0,6.0,6.0
...,...,...,...,...,...,...,...,...
5377,2.020000e+11,9/5/15 23:07,300,7308017,210101,1.0,3.0,3.0
5378,2.020000e+11,9/5/15 23:23,G619,7070891,70401,1.0,6.0,6.0
5379,2.020000e+11,9/5/15 23:24,G619,7071096,70201,1.0,5.0,5.0
5380,2.020000e+11,9/5/15 23:32,G619,15000231,70301,2.0,2.0,4.0
5381,2.020000e+11,9/5/15 23:38,G619,23030206,210101,1.0,2.0,2.0

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [ ]:
#Write your code here

How many different products are there?

In [ ]:
#Write your code here

What is the avgerage price of the three most expensive purchases?

In [ ]:
#Write your code here

Use the drop() method to delete the column total from the dataframe df_data.

In [ ]:
#Write your code here

Let's dig a little deeper into the data set and answer some basic question.

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [ ]:
#Write your code here

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [ ]:
#Write your code here

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [ ]:
#Write your code here